<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="connectionString" value="Server=192.168.2.51;Database=Sorolayon;User ID=Mahbub;Password=Sorolayon1"/>
    <add key="SiteName" value="New York Times"/>
  </appSettings>
  <system.web>
    <compilation targetFramework="4.0" debug="true"/>
    <httpRuntime/>
    <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <remove value="index.htm"/>
        <add value="index.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>