  body {
          font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
           font-family: verdana;
          font-size:13px;
          background-image:url(/images/bg.gif)
          margin:0px;
           
        }


.button:hover {
     background-color: #F09021;
      background-color: #5d719e;
     /*color:Black;*/
    
}


        .button {
           
            background-color: #46629e;
            margin-top: 10px;
            display: inline-block;
            text-align: center;
            padding: 5px 15px;
            cursor: pointer;
            font-weight:bold;
            color:white;
        }

        #dvLeftLogo {
            float: left;
            width: 193px;
            height: 76px;
            background-color:azure
         /*   background-image: url(/images/logo.gif); */
        }

        #dvRightLogo {
            float: Right;
            width: 63px;
            height: 76px;
             background-color:azure;
            /*background-image: url(/images/4G-Logo.gif);
            background-position: center;
            background-repeat: no-repeat;*/
        }

        #dvContainer {
              text-align:left;
              width:600px;
           margin:auto;
            display:none;
           
        }

        #dvOptions {
            border: 1px solid #dadada;
           
        }

            #dvOptions div {
                height: 20px;
                margin: 5px 5px;
                padding: 5px;
               border :1px solid #dadada;
            }

                #dvOptions div:hover {
                    background-color: #E6E6E6;
                }

        .selected {
            background-color: #EB6D23 !important;
            color:white !important;
        }

        #txtQuestion {
            background-color: #F2F2F2;
            color: #1C2A47;
            font-weight: bold;
            padding: 15px 10px;
            border:1px solid #dadada;
             border-bottom:none;
        }

        #resultPanel {
            overflow: hidden;
           
        }

        #dvResult {
            float: left;
            padding: 10px 0;
            width: 147px;
        }

        #dvTimer {
            float: right;
            padding: 10px 0;
            
        }

        #dvSubmit {
              text-align:center;
              font-size:20px;
              width:600px;
           margin:auto;
            display:none;
        }

        #dvLogIn {
           width:260px;
           margin:auto;
          display:none;
            
        }

        #dvLike{
              width:300px;
              text-align:center;
              font-weight:bold;
           margin:auto;
          /*  display:none; */
        }

        #dvRules {
           
              text-align:left;
              width:600px;
           margin:auto;
            display:none;
        }

        #dvBackground
        {
            position:absolute;
            left:5%;
            right:5%;
            top:0px;
            bottom:0px;
           background-color:#bbcdf1;
        }

        .dvButton
        {
            position:absolute;
            bottom:110px;
            width:100%;
        }

        #dvProfilePic
        {
            background-position:center;
            background-repeat:no-repeat;
            height:96px;
            width:96px;
            margin:auto;
            border-radius:50%;
            margin-bottom:5px;
        }